[run]
omit=./eegio/base/utils/*,eegio/base/dataset_test/*,eegio/*config*,eegio/base/format/*,*electrode.py,*basedataobject.py,tests/*,*bids_patient.py,*/derivatives/*

[report]
omit=tests/*

exclude_lines =
    pragma: no cover
    @deprecated
    def read_NK
    def read_Natus
    def get_contact_coords

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    logger.
    raise NotImplementedError

    __repr__
    __str__
    warnings.warn
    reinitialize_datastructure
    raise OSError
    load_adapter
    _wrap_mat_in_obj